<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../framework/layui/css/layui.css">
    <link rel="stylesheet" href="../framework/layui/css/modules/layui.css"  media="all">
    <title></title>
    <style>
        body {
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
</head>

<body layadmin-themealias="default">


<form class="layui-form" action="" lay-filter="user" id="user">
    <div class="layui-form-item">
        <label class="layui-form-label">帐号</label>
        <div class="layui-input-block">
            <input type="text" id="username" name="username" lay-verify="required" lay-reqtext="帐号不能为空！" autocomplete="off" placeholder="请输入帐号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工编号</label>
        <div class="layui-input-block">
            <input type="text" id="userno" name="userno" lay-verify="required" lay-reqtext="员工编号不能为空！" autocomplete="off" placeholder="请输入员工编号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="姓名不能为空！" placeholder="请输入姓名" autocomplete="off" class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在分行</label>
        <div class="layui-input-block">
            <input type="text" name="company" lay-verify="required" lay-reqtext="单位不能为空！" placeholder="请输入单位" autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构类型</label>
        <div class="layui-input-block">
            <select name="org_type" lay-filter="org_type" lay-verify="required">
                <option value="0" selected="">二级分支行内设部门</option>
                <option value="1">综合型支行</option>
                <option value="2">综合型支行内设部门</option>
                <option value="3">网点</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所在机构</label>
        <div class="layui-input-block">
            <input type="text" name="org" lay-verify="required" lay-reqtext="机构不能为空！" placeholder="请输入机构" autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">职务名称</label>
        <div class="layui-input-block">
            <input type="text" name="position" lay-verify="required" lay-reqtext="职务不能为空！" placeholder="请输入职务" autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">职务序列</label>
        <div class="layui-input-block">
            <select name="position_serial" lay-filter="position_serial" lay-verify="required">
                <option value="0" selected="">管理岗位职务</option>
                <option value="1">专业技术岗位职务</option>
                <option value="2">经办岗位职务</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">专业技术级别</label>
        <div class="layui-input-block">
            <select name="skill_level" lay-filter="skill_level" lay-verify="required">
                <option value="0" selected="">暂无</option>
                <option value="1">五级</option>
                <option value="2">六级</option>
                <option value="2">七级</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">职等</label>
        <div class="layui-input-block">
            <select name="position_level" lay-filter="position_level" lay-verify="required">
                <option value="0" selected="">八职等副职</option>
                <option value="1">八职等正职</option>
                <option value="2">九职等副职</option>
                <option value="3">九职等正职</option>
                <option value="4">九职等副职</option>
                <option value="5">十职等及以下副职</option>
                <option value="6">十职等正职</option>
                <option value="7">工会副主席</option>
                <option value="8">五级</option>
                <option value="9">六级</option>
                <option value="10">副职</option>
                <option value="11">正职</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出生年月</label>
        <div class="layui-input-block">
            <input type="text" name="birth_date" lay-verify="required" lay-reqtext="出生年月不能为空！" placeholder="请输入出生年月"   autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="text" name="age" lay-verify="required" lay-reqtext="年龄不能为空！" placeholder="请输入年龄"   autocomplete="off"  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <select name="sex" lay-filter="sex" lay-verify="required">
                <option value="0" selected="">保密</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">政治面貌</label>
        <div class="layui-input-block">
            <select name="politics_status" lay-filter="politics_status" lay-verify="required">
                <option value="0" selected="">中共党员</option>
                <option value="1">群众</option>
                <option value="2">民盟</option>
                <option value="2">民建</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学历</label>
        <div class="layui-input-block">
            <select name="education" lay-filter="education" lay-verify="required">
                <option value="0" selected="">学士</option>
                <option value="1">硕士</option>
                <option value="2">博士</option>
                <option value="3">双学士</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">专业技术资格</label>
    <div class="layui-input-block">
        <select name="skill_qualification" lay-filter="skill_qualification" lay-verify="required">
            <option value="0" selected="">助理经济师</option>
            <option value="1">经济师</option>
            <option value="2">助理工程师</option>
            <option value="2">助理会计师</option>
        </select>
    </div>
</div>
    <div class="layui-form-item">
        <label class="layui-form-label">任现职时间</label>
        <div class="layui-input-block">
            <input type="text" name="in_position_time" lay-verify="required" lay-reqtext="任现职时间不能为空！" placeholder="请输入任现职时间"   autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任同职时间</label>
        <div class="layui-input-block">
            <input type="text" name="in_same_position_time" lay-verify="required" lay-reqtext="任同职时间不能为空！" placeholder="请输入任同职时间"   autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任同职等时间</label>
        <div class="layui-input-block">
            <input type="text" name="in_same_position_level_time" lay-verify="required" lay-reqtext="任同职等时间不能为空！" placeholder="请输入任同职等时间"   autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入建行时间</label>
        <div class="layui-input-block">
            <input type="text" name="into_bank_time" lay-verify="required" lay-reqtext="入行时间不能为空！" placeholder="请输入入行时间"   autocomplete="off"  class="layui-input">
        </div>
    </div>

<!--    <div class="layui-form-item layui-form-text">-->
<!--        <label class="layui-form-label">上年考察结果</label>-->
<!--        <div class="layui-input-block">-->
<!--            <textarea name="last_year_inspection_result" placeholder="请输入考察结果" class="layui-textarea"></textarea>-->
<!--        </div>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">第一年考察结果</label>
        <div class="layui-input-block">
            <select name="last_year_inspection_result" lay-filter="last_year_inspection_result" lay-verify="required">
                <option value="0" selected="">称职</option>
                <option value="1">良好</option>
                <option value="2">优秀</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">第二年考察结果</label>
        <div class="layui-input-block">
            <select name="second_year_inspection_result" lay-filter="second_year_inspection_result" lay-verify="required">
                <option value="0" selected="">称职</option>
                <option value="1">良好</option>
                <option value="2">优秀</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">第三年考察结果</label>
        <div class="layui-input-block">
            <select name="third_year_inspection_result" lay-filter="third_year_inspection_result" lay-verify="required">
                <option value="0" selected="">称职</option>
                <option value="1">良好</option>
                <option value="2">优秀</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">处分</label>
        <div class="layui-input-block">
            <textarea name="punishment" placeholder="请输入处分" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">破格</label>
        <div class="layui-input-block">
            <select name="exceptional" lay-filter="exceptional" lay-verify="required">
                <option value="0" selected="">是</option>
                <option value="1">否</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">回避</label>
        <div class="layui-input-block">
            <select name="avoid" lay-filter="avoid" lay-verify="required">
                <option value="0" selected="">是</option>
                <option value="1">否</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">拟任职务</label>
        <div class="layui-input-block">
            <input type="text" name="aspiring_position" lay-verify="required" lay-reqtext="拟任职务不能为空！" placeholder="请输入拟任职务" autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">拟任职等</label>
        <div class="layui-input-block">
            <select name="aspiring_position_level" lay-filter="aspiring_position_level" lay-verify="required">
                <option value="0" selected="">八职</option>
                <option value="1">九职</option>
                <option value="2">十职</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">推荐意见书</label>
        <div class="layui-input-block">
            <textarea name="recommendation_letter" placeholder="请输入推荐意见" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="note" placeholder="请输入备注" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构号</label>
        <div class="layui-input-block">
            <input type="text" name="orgNo" lay-verify="required" lay-reqtext="机构号不能为空！" placeholder="请选择机构号"   autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码</label>
        <div class="layui-input-block">
            <input type="text" name="phoneNo" lay-verify="phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">座机号码</label>
        <div class="layui-input-block">
            <input type="text" name="landline" lay-verify="landline" placeholder="请输入座机号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮政编码</label>
        <div class="layui-input-block">
            <input type="text" name="zipCode" lay-verify="zip"  placeholder="请输入邮政编码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <textarea name="adress" placeholder="请输入地址信息" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <select name="status" lay-filter="aihao" lay-verify="required">
                <option value=""></option>
                <option value="1" selected="">正常</option>
                <option value="0">废止</option>
                <option value="2">异常</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" id="add" class="layui-btn" lay-submit="" lay-filter="submit-btn">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../framework/layui/layui.js"></script>
<script src="../framework/layui/layui.all.js"></script>
<script src="../js/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/regular.js"></script>
<script>
    //记录当前操作类型
    var type = null;
    //当编辑时，记录用户id
    var userId = '';
    layui.define(['form', 'layer'],function(exports){

        var $ = layui.$,
            layer = layui.layer,
            http = layui.http,
            form = layui.form;
        var regular = layui.regular;
        //正则验证
        form.verify({
            phone: function (value) {
                if (value.length > 0) {
                    if (!regular.phone.test(value)) {
                        return "手机号码格式不正确!(不支持虚拟手机号码)";
                    }
                }
            }
            ,email: function(value){
                if (value.length > 0) {
                    if (!regular.email.test(value)) {
                        return "邮箱格式不正确！";
                    }
                }
            }
            ,zip: function(value){
                if (value.length > 0) {
                    if (!regular.zip.test(value)) {
                        return "邮政编码不正确（6位数字）！";
                    }
                }
            }
            ,landline: function(value){
                if(value.length>0){
                    if (!regular.landline.test(value)) {
                        return "座机号码格式不正确!(不支持虚拟座机号码)";
                    }
                }
            }
        });
        form.on('submit(submit-btn)', function(data){
            var address = "";//请求地址
            var confirmMsg = '';//提示信息
            if (type == 'edit') {
                address = "update";
                confirmMsg = '用户信息更新成功';
            }else {
                address = "add";
                confirmMsg = '添加用户成功';
            }
            var param = data.field;

            param.id = userId;
            http.post("../api/user/" + address, param, function (data) {
                var errcode = data.errcode;
                var errmsg = data.errmsg;
                if ("0" == errcode) {
                    parent.changed = true;
                    layer.confirm(confirmMsg,{
                            btn:['确定', '取消']
                        },
                        function (index) {
                            layer.close(index);
                            var index2 = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.layer.close(index2);
                        });
                } else {
                    layer.msg(errmsg, function () {

                    });
                }
            });
            return false;
        });
    });
    /**
     *
     * 表单重置
     */
    $("#rsbtn").on('click', function(){
        resetForm('user', 'user');
    });

    function userEdit(username, id) {
        userId = id;//记录id
        type = 'edit';//当前模式为编辑
        layui.define(['form', 'layer'],function(exports){
            var $ = layui.$,
                http = layui.http,
                form = layui.form;
            var param = {};
            param.username = username;
            http.post("../api/user/getUser", param, function (data) {
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                var errcode = data.errcode;
                if ("0" == errcode) {
                    var info = data.data;
                    form.val("user", info);

                }
            });
            //设置帐号不可编辑

            $("#username").addClass("layui-disabled");
            $('#username').attr("disabled","disabled");
            form.render(null, 'user');

        });
    }

</script>
</body>
</html>