<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nantian.mapper.sys.SysConHonestMapper">
  <resultMap id="BaseResultMap" type="com.nantian.entity.sys.SysConHonest">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CANDIDATE_NAME" jdbcType="VARCHAR" property="candidateName" />
    <result column="CONVERSATION_DATE" jdbcType="TIMESTAMP" property="conversationDate" />
    <result column="CONVERSATION_PERSON" jdbcType="VARCHAR" property="conversationPerson" />
    <result column="CONVERSATION_DATA" jdbcType="VARCHAR" property="conversationData" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CANDIDATE_NAME, CONVERSATION_DATE, CONVERSATION_PERSON, CONVERSATION_DATA, CREATION_TIME, 
    UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.nantian.entity.sys.SysConHonestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_CON_HONEST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_CON_HONEST
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_CON_HONEST
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.nantian.entity.sys.SysConHonestExample">
    delete from SYS_CON_HONEST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nantian.entity.sys.SysConHonest">
    insert into SYS_CON_HONEST (ID, CANDIDATE_NAME, CONVERSATION_DATE, 
      CONVERSATION_PERSON, CONVERSATION_DATA, CREATION_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{candidateName,jdbcType=VARCHAR}, #{conversationDate,jdbcType=TIMESTAMP}, 
      #{conversationPerson,jdbcType=VARCHAR}, #{conversationData,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nantian.entity.sys.SysConHonest">
    insert into SYS_CON_HONEST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="candidateName != null">
        CANDIDATE_NAME,
      </if>
      <if test="conversationDate != null">
        CONVERSATION_DATE,
      </if>
      <if test="conversationPerson != null">
        CONVERSATION_PERSON,
      </if>
      <if test="conversationData != null">
        CONVERSATION_DATA,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="candidateName != null">
        #{candidateName,jdbcType=VARCHAR},
      </if>
      <if test="conversationDate != null">
        #{conversationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="conversationPerson != null">
        #{conversationPerson,jdbcType=VARCHAR},
      </if>
      <if test="conversationData != null">
        #{conversationData,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nantian.entity.sys.SysConHonestExample" resultType="java.lang.Long">
    select count(*) from SYS_CON_HONEST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_CON_HONEST
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.candidateName != null">
        CANDIDATE_NAME = #{record.candidateName,jdbcType=VARCHAR},
      </if>
      <if test="record.conversationDate != null">
        CONVERSATION_DATE = #{record.conversationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.conversationPerson != null">
        CONVERSATION_PERSON = #{record.conversationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.conversationData != null">
        CONVERSATION_DATA = #{record.conversationData,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_CON_HONEST
    set ID = #{record.id,jdbcType=DECIMAL},
      CANDIDATE_NAME = #{record.candidateName,jdbcType=VARCHAR},
      CONVERSATION_DATE = #{record.conversationDate,jdbcType=TIMESTAMP},
      CONVERSATION_PERSON = #{record.conversationPerson,jdbcType=VARCHAR},
      CONVERSATION_DATA = #{record.conversationData,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nantian.entity.sys.SysConHonest">
    update SYS_CON_HONEST
    <set>
      <if test="candidateName != null">
        CANDIDATE_NAME = #{candidateName,jdbcType=VARCHAR},
      </if>
      <if test="conversationDate != null">
        CONVERSATION_DATE = #{conversationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="conversationPerson != null">
        CONVERSATION_PERSON = #{conversationPerson,jdbcType=VARCHAR},
      </if>
      <if test="conversationData != null">
        CONVERSATION_DATA = #{conversationData,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nantian.entity.sys.SysConHonest">
    update SYS_CON_HONEST
    set CANDIDATE_NAME = #{candidateName,jdbcType=VARCHAR},
      CONVERSATION_DATE = #{conversationDate,jdbcType=TIMESTAMP},
      CONVERSATION_PERSON = #{conversationPerson,jdbcType=VARCHAR},
      CONVERSATION_DATA = #{conversationData,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByUserId" parameterType="com.nantian.entity.sys.SysFlow">
    update SYS_FLOW
    SET CON_HONEST_ID = #{conHonestId,jdbcType=DECIMAL},
      CON_HONEST_RESULT = #{conHonestResult,jdbcType=VARCHAR},
      STEP15 = #{step15,jdbcType=VARCHAR}
    WHERE USERID =  #{userid,jdbcType=DECIMAL}
  </update>
</mapper>