<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nantian.mapper.sys.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.nantian.entity.sys.SysLoginLog">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="IP_ADDRESS" jdbcType="VARCHAR" property="ipAddress" />
    <result column="EQUIPMENT" jdbcType="VARCHAR" property="equipment" />
    <result column="EXTEND1" jdbcType="VARCHAR" property="extend1" />
    <result column="EXTEND2" jdbcType="VARCHAR" property="extend2" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USERNAME, IP_ADDRESS, EQUIPMENT, EXTEND1, EXTEND2, CREATION_TIME, PATH
  </sql>
  <select id="selectByExample" parameterType="com.nantian.entity.sys.SysLoginLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_LOGIN_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_LOGIN_LOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_LOGIN_LOG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.nantian.entity.sys.SysLoginLogExample">
    delete from SYS_LOGIN_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nantian.entity.sys.SysLoginLog">
    insert into SYS_LOGIN_LOG (ID, USERNAME, IP_ADDRESS, 
      EQUIPMENT, EXTEND1, EXTEND2, 
      CREATION_TIME, PATH)
    values (#{id,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{equipment,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nantian.entity.sys.SysLoginLog">
    insert into SYS_LOGIN_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="ipAddress != null">
        IP_ADDRESS,
      </if>
      <if test="equipment != null">
        EQUIPMENT,
      </if>
      <if test="extend1 != null">
        EXTEND1,
      </if>
      <if test="extend2 != null">
        EXTEND2,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="path != null">
        PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null">
        #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nantian.entity.sys.SysLoginLogExample" resultType="java.lang.Long">
    select count(*) from SYS_LOGIN_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_LOGIN_LOG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.ipAddress != null">
        IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.equipment != null">
        EQUIPMENT = #{record.equipment,jdbcType=VARCHAR},
      </if>
      <if test="record.extend1 != null">
        EXTEND1 = #{record.extend1,jdbcType=VARCHAR},
      </if>
      <if test="record.extend2 != null">
        EXTEND2 = #{record.extend2,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.path != null">
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_LOGIN_LOG
    set ID = #{record.id,jdbcType=DECIMAL},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
      EQUIPMENT = #{record.equipment,jdbcType=VARCHAR},
      EXTEND1 = #{record.extend1,jdbcType=VARCHAR},
      EXTEND2 = #{record.extend2,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      PATH = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nantian.entity.sys.SysLoginLog">
    update SYS_LOGIN_LOG
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null">
        EQUIPMENT = #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        EXTEND1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        EXTEND2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nantian.entity.sys.SysLoginLog">
    update SYS_LOGIN_LOG
    set USERNAME = #{username,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      EQUIPMENT = #{equipment,jdbcType=VARCHAR},
      EXTEND1 = #{extend1,jdbcType=VARCHAR},
      EXTEND2 = #{extend2,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      PATH = #{path,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>