<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nantian.mapper.sys.SysOperatLogMapper">
  <resultMap id="BaseResultMap" type="com.nantian.entity.sys.SysOperatLog">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="TRANS_CODE" jdbcType="VARCHAR" property="transCode" />
    <result column="PUSH" jdbcType="VARCHAR" property="push" />
    <result column="IP_ADDRESS" jdbcType="VARCHAR" property="ipAddress" />
    <result column="EXTEND1" jdbcType="VARCHAR" property="extend1" />
    <result column="EXTEND2" jdbcType="VARCHAR" property="extend2" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ACCOUNT, CHANNEL, TRANS_CODE, PUSH, IP_ADDRESS, EXTEND1, EXTEND2, CREATION_TIME, 
    PATH
  </sql>
  <select id="selectByExample" parameterType="com.nantian.entity.sys.SysOperatLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_OPERAT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_OPERAT_LOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_OPERAT_LOG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.nantian.entity.sys.SysOperatLogExample">
    delete from SYS_OPERAT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nantian.entity.sys.SysOperatLog">
    insert into SYS_OPERAT_LOG (ID, ACCOUNT, CHANNEL, 
      TRANS_CODE, PUSH, IP_ADDRESS, 
      EXTEND1, EXTEND2, CREATION_TIME, 
      PATH)
    values (#{id,jdbcType=DECIMAL}, #{account,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{transCode,jdbcType=VARCHAR}, #{push,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nantian.entity.sys.SysOperatLog">
    insert into SYS_OPERAT_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="channel != null">
        CHANNEL,
      </if>
      <if test="transCode != null">
        TRANS_CODE,
      </if>
      <if test="push != null">
        PUSH,
      </if>
      <if test="ipAddress != null">
        IP_ADDRESS,
      </if>
      <if test="extend1 != null">
        EXTEND1,
      </if>
      <if test="extend2 != null">
        EXTEND2,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="path != null">
        PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="transCode != null">
        #{transCode,jdbcType=VARCHAR},
      </if>
      <if test="push != null">
        #{push,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nantian.entity.sys.SysOperatLogExample" resultType="java.lang.Long">
    select count(*) from SYS_OPERAT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_OPERAT_LOG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.account != null">
        ACCOUNT = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null">
        CHANNEL = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.transCode != null">
        TRANS_CODE = #{record.transCode,jdbcType=VARCHAR},
      </if>
      <if test="record.push != null">
        PUSH = #{record.push,jdbcType=VARCHAR},
      </if>
      <if test="record.ipAddress != null">
        IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.extend1 != null">
        EXTEND1 = #{record.extend1,jdbcType=VARCHAR},
      </if>
      <if test="record.extend2 != null">
        EXTEND2 = #{record.extend2,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.path != null">
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_OPERAT_LOG
    set ID = #{record.id,jdbcType=DECIMAL},
      ACCOUNT = #{record.account,jdbcType=VARCHAR},
      CHANNEL = #{record.channel,jdbcType=VARCHAR},
      TRANS_CODE = #{record.transCode,jdbcType=VARCHAR},
      PUSH = #{record.push,jdbcType=VARCHAR},
      IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
      EXTEND1 = #{record.extend1,jdbcType=VARCHAR},
      EXTEND2 = #{record.extend2,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      PATH = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nantian.entity.sys.SysOperatLog">
    update SYS_OPERAT_LOG
    <set>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        CHANNEL = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="transCode != null">
        TRANS_CODE = #{transCode,jdbcType=VARCHAR},
      </if>
      <if test="push != null">
        PUSH = #{push,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        EXTEND1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        EXTEND2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nantian.entity.sys.SysOperatLog">
    update SYS_OPERAT_LOG
    set ACCOUNT = #{account,jdbcType=VARCHAR},
      CHANNEL = #{channel,jdbcType=VARCHAR},
      TRANS_CODE = #{transCode,jdbcType=VARCHAR},
      PUSH = #{push,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      EXTEND1 = #{extend1,jdbcType=VARCHAR},
      EXTEND2 = #{extend2,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      PATH = #{path,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>